div.container {
  text-align: center;
}

.myUL {
  display: inline-block;
  text-align: left;
   list-style-type: disc;
  
}

.firstPage{
    color: #A61C4A;
    background-color:#FB8376;
    line-height: 2;
    font-family: 'Righteous', cursive;
}
.header{
    font-family: 'Castoro Titling', cursive;
    font-size:50px;
}
.current{
    text-decoration:underline;
    background-color:blue;
}
#nav{
    color:black;
    font:times;
}

.second{
    background-color:#FB8376;
    line-height: 2; 
    font-family: 'Righteous', cursive;
}
.styled-table {
    border-collapse: collapse;
    margin: 25px 0;
    font-size: 0.9em;
    font-family: sans-serif;
    min-width: 400px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}
.styled-table thead tr {
    background-color: black;
    color: #ffffff;
    text-align: left;
}
.styled-table th,
.styled-table td {
    padding: 12px 15px;
}
.styled-table tbody tr {
    border-bottom: 1px solid #dddddd;
}

.styled-table tbody tr:nth-of-type(even) {
    background-color: #f3f3f3;
}

.styled-table tbody tr:last-of-type {
    border-bottom: 2px solid #009879;
}
.styled-table tbody tr.active-row {
    font-weight: bold;
    color: #009879;
}
.pic{
    width:45%;
    
}

ul{
            list-style-type: none;
            margin: 0;
            padding: 0;
            overflow: hidden;
            }



            li a {
            display: block ;
            padding: 8px;
            background-color: #E3805F ;
            text-align:center;
            }
            .current{
                text-decoration: underline overline #FF3028;
                background-color: #FB8376;
            }
.nav{
    font-size:25px;
    font-family: 'Montserrat', sans-serif;
    
}